@media(max-width: 600px) {
     nav a {
        padding: 5px;
        font-size: 14px;
     }
}
#logo {
  font-size: clamp(1.3rem, 4vw, 2rem);
  font-weight: bold;
}

.menu-link {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  text-decoration: none;
}

.menu-link:hover {
  color: orange;
  text-decoration: none;
}

#mainMenu {
  flex-wrap: nowrap;
}
#services .badge {
  font-size: 1rem;
  padding: 10px 15px;
  margin: 6px;
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

#services .badge:hover {
  background-color: orange;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 4px 10px gray;
}


